services:
  api:
    container_name: cbm_api_container
    build:
      context: ./
    ports:
      - 8080:8080
    tty: true
    volumes:
      - ./:/go/src
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
    depends_on:
      - db

  db:
    container_name: cbm_db_container
    image: mysql:8.0
    ports:
      - 3306:3306
    volumes:
      - cbm-dev-db-volume:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
volumes:
  cbm-dev-db-volume:
